# eclipse

*.classpath
*.project
*.settings
*.metadata
# netbeans
*/nbproject/

# intellij

*.idea/
*.eml
*.iml
*.iws

# maven

*target/

# vim

.*.sw[a-p]

# various other potential build files

*/build
*/bin
*/dist

# mac filesystem dust

*.DS_Store

# windows filesystem dust

*Thumbs.db
*Desktop.ini